{% extends 'base.html' %}

{% block header %}
<style>
div.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    padding: 20px;  
    background: white;
    color: black;
    text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="center">
    <p>
	<form class="pure-form" action="/" method="POST" autocomplete="off">
	    <input type="text" class="pure-input" size="70" name="video" placeholder="Insert the link of your video ...">
	</form>
    </p>
</div>
{% endblock %}
